html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: #366140;
}

.container {
    border: 1px solid black;
    background-color: #7c9982 ;
    position: relative;
}

.key {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 2px;
}

.white-keys {
    background-color: white;
    height: 200px;
    margin: 5px;
    display: flex;
}

.black-keys kbd {
    background-color: black;
    color: white;
    border: 1px solid #666;
    width: 40px;
    height: 125px;
    position: absolute;
    margin: 0 -20px;
    top: 5px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px #666;
}

.black-keys kbd:nth-child(1) { left: 16%; }
.black-keys kbd:nth-child(2) { left: 30%; }
.black-keys kbd:nth-child(3) { left: 57%; }
.black-keys kbd:nth-child(4) { left: 71%; }
.black-keys kbd:nth-child(5) { left: 85%; }